.more_info{
    color: #3772FF;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*Por defecto muestra una columna*/
}

@media (min-width: 800px) {
    .grilla {
        grid-template-columns: repeat(2 ,1fr); /*A partir de este tamaño se muestran dos columnas*/
    }
}
.base{
    top: 429px;
    left: 72px;
    width: 100%;
    height: 1820px;
    background: sandybrown;  /*#FFFFFF 0% 0% no-repeat padding-box;*/
    box-shadow: 0px 3px 10px #00000033;
    opacity: 1;
}
.txt_titulo{
    top: 973px;
    left: 145px;
    width: 614px;
    height: 52px;
    text-align: left;
    font: normal normal 300 44px/60px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}
.text_more {
    text-align: center;
}