<div class="container mb-3">
    <div class="card govco-card h-100 shadow p-3 mb-5 mt-2 bg-white rounded">
        <!-- SECCIÓN: OPINIÓN -->
        <div class="container">
            <h1>Queremos conocer tu opinión</h1>
            <div class="row">
                <!-- Opinión-Noticias -->
                <div class="col-sm-12 col-lg-7">
                    <app-opinion 
                        *ngFor="let item of opinionNotices"
                        [opinionNotices]="item">
                    </app-opinion> 
                    <div class="float-right d-inline-block">
                        <a class="more_info">Conoce otros ejercicios de participación<div class="govco-icon govco-icon-right-arrow d-inline-block"></div>
                        </a>
                    </div>
                </div>
                <!-- Opinión-Formulario de opinión -->
                <div class="col-sm-12 col-lg-5">
                    <app-opinion-form></app-opinion-form>
                </div>
            </div>
        </div>

        <!-- SECCIÓN: INFÓRMATE -->
        <div class="container mt-5">
            <h1>Infórmate</h1>
            <app-info></app-info>
            <div class="text_more">
                <a>Ver otras noticias
                    <span class="govco-icon govco-icon-right-arrow"></span>
                </a>
            </div>
        </div>
    </div>
    
    <!--SECCIÓN: OTROS TEMAS -->
    <div class="container">
        <h1>Otros temas de tu interés</h1>
        <div class="row">
            <app-others class="col-12 col-lg-6 p-3"
                *ngFor="let item of othersItem"
                [othersItem]="item">
            </app-others>
        </div>
    </div>
</div>



    <!--div class="base">
        <app-opinion></app-opinion>
    </div-->






