<div class="card govco-card h-100 shadow p-2 mb-2 bg-white rounded">
  <div class="row">
    <div class="col-4">
      <img class="card-img govco-card-image" [src]="othersItem.image" alt="Imagen" />
    </div>
    <div class="col-8 pt-5">
      <div class="">
        <h3>{{ othersItem.title }}</h3>
      </div>
      <div class="card-body">
        <p>{{ othersItem.content }}</p>
        <p class="card-text text-right">
          <a>
            {{ othersItem.moreText }}
            <span class="govco-icon govco-icon-right-arrow"></span>
          </a>
         </p>
      </div>
    </div>
  </div>
</div>
