<div class="card govco-card h-100">
    <form [formGroup]="opinionForm" (ngSubmit)="onSaveForm()">
        <div class="card-body">
            <h2>Cuéntanos...</h2>
            <div class="my-4">
                <h4>¿Cómo podemos mejorar GOV.CO?</h4>
            </div>
            <div class="mb-4">
                <h5>Estamos construyendo este espacio para ti, y tu opinión nos ayuda a crecer. </h5>
            </div>
        <div class="textarea-govco">
            <textarea formControlName="message" class="form-control" rows="5" placeholder="Escribe aquí tu opinión" maxlength="300" style="height: 271px;"></textarea>		 
        </div>
        <div class="col text-center pt-4">
            <button type="button" class="btn btn-outline-primary ">Enviar mi opininión</button>
        </div>
        </div>
    </form>
</div>