.page-header{
    min-height: 30rem;
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    border: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.page-header.bg-main {
    background-image: url(src\assets\images\2nueva-bandera--agosto.png);
}
input {
    width: 88%;
    border: 0;
}
.text_white{
    color:white;
    text-align: center;
    padding: 4%;
}
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    width: 70%;
    background-color:#fff;
    border-radius: 30px;
    border: unset;
    margin-left: 20%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    position: relative;
    z-index: 12;
}
.containerSearcher {
    position: relative;
    z-index: 2;
    width: 100%;
}