<div class="page-header bg-main clear-filter align-items-center">
    <h1 class="text_white">¡Te damos la bienvenida!</h1>
    <div class="containerSearcher">
        <div class="searchbar">
            <div class="form-inline form-search-bar pl-4 w-100">
                <input class=""
                type="search"
                placeholder="Encuentra aqui lo que buscas"
                name="searchTerm"
                id="search"
                />
                <span class="govco-icon govco-icon-search-cn icon-search notranslate"></span>
            </div>
        </div>
    </div>
    <h3 class="text_white">Toda la oferta del estado colombiano a tu alcance</h3>
</div>
