.content_flag {
    width: 45% ;
    color: white;
    margin: 2% 0%;
    padding: 3px 10px;
    font-weight: bold;
}
.content_body {
    padding: 2% 0%;
    width: 50%;
    display: inline-block;
}
.content_participants{
    text-align: right;
    width: 50%;
    display: inline-block;
}