      <div class="content">
        <div class="content_flag" [ngStyle]="{'background': getRandomColor()}">{{ opinionNotices.flag }}</div>
        <div class="font-weight-bold">{{ opinionNotices.subject }}</div>
        <div class="content_body col-12">{{ opinionNotices.body }}</div>
        <!-- Si el contenido de 'opinionNotices.participants' llega vacío, no muestra el bloque -->
        <div *ngIf="opinionNotices.participants!=''" class="content_participants col-6">{{ opinionNotices.participants }}</div>
      </div>
    <hr>



  