.inner {
    overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
.card_style {
    position: relative;
    margin: auto;
    bottom: 55px;
    width: 88%;
    height: 30%;
}