<div class="row">
  <div class="col-md-12 col-lg-8">
    <div class="inner">
      <img class="card-img-top img-fluid mt-2" src="assets/images/info1.png" alt="Card image cap">
    </div>
    <div class="card card_style shadow bg-white rounded">
      <div class="card-body m-10">
        <h5 class="card-title">28 febrero 2019</h5>
        <p class="card-text">Jóvenes colombianos rompen récord en participación para la construcción de una política pública de género incluyente.</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="inner">
      <img class="card-img-top img-fluid" src="assets/images/info2.png" alt="Card image cap">
    </div>
    <div class="card card_style">
      <div class="card-body shadow bg-white rounded">
        <h5 class="card-title">28 febrero 2019</h5>
        <p class="card-text">¡Protégete de El Niño!.</p>
      </div>
    </div>
  </div>
        
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="inner">
      <img class="card-img-top img-fluid" src="assets/images/info3.png" alt="Card image cap">
    </div>
    <div class="card card_style">
      <div class="card-body shadow bg-white rounded">
        <h5 class="card-title">28 febrero 2019</h5>
        <p class="card-text">Colombia, ganador del premio internacional de innovación.</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="inner">
      <img class="card-img-top img-fluid" src="assets/images/info4.png" alt="Card image cap">
    </div>
    <div class="card card_style">
      <div class="card-body shadow bg-white rounded">
        <h5 class="card-title">28 febrero 2019</h5>
        <p class="card-text">El nuevo sistema carcelario avanza.</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="inner">
      <img class="card-img-top img-fluid pt-2" src="assets/images/info5.png" alt="Card image cap">
    </div>
    <div class="card card_style mt-4">
      <div class="card-body shadow bg-white rounded">
        <h5 class="card-title">28 febrero 2019</h5>
        <p class="card-text">Esta convocatoria no te la puedes perder por nada.</p>
      </div>
    </div>
  </div>
</div>